# Apprenticeship Capstone Project

In [1]:
### imports ###
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss
from sklearn import preprocessing
from sklearn import model_selection 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

%matplotlib inline

In [2]:
cbb = pd.read_csv('data/cbb.csv')
cbb.head()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017

In [3]:
cbb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455 entries, 0 to 2454
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        2455 non-null   object
 1   CONF        2455 non-null   object
 2   G           2455 non-null   int64
 3   W           2455 non-null   int64
 4   ADJOE       2455 non-null   float64
 5   ADJDE       2455 non-null   float64
 6   BARTHAG     2455 non-null   float64
 7   EFG_O       2455 non-null   float64
 8   EFG_D       2455 non-null   float64
 9   TOR         2455 non-null   float64
 10  TORD        2455 non-null   float64
 11  ORB         2455 non-null   float64
 12  DRB         2455 non-null   float64
 13  FTR         2455 non-null   float64
 14  FTRD        2455 non-null   float64
 15  2P_O        2455 non-null   float64
 16  2P_D        2455 non-null   float64
 17  3P_O        2455 non-null   float64
 18  3P_D        2455 non-null   float64
 19  ADJ_T       2455 non-null   float64
 20  WAB         2455 non-null   float64
 21  POSTSEASON  476 non-null    object
 22  SEED        476 non-null    float64
 23  YEAR        2455 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 460.4+ KB

In [4]:
features = ['TEAM', 'G','W','ADJOE','BARTHAG', 'WAB','POSTSEASON','SEED','YEAR']
data = cbb[features]
data.head()

             TEAM   G   W  ADJOE  BARTHAG   WAB POSTSEASON  SEED  YEAR
0  North Carolina  40  33  123.3   0.9531   8.6        2ND   1.0  2016
1       Wisconsin  40  36  129.1   0.9758  11.3        2ND   1.0  2015
2        Michigan  40  33  114.4   0.9375   6.9        2ND   3.0  2018
3      Texas Tech  38  31  115.2   0.9696   7.0        2ND   3.0  2019
4         Gonzaga  39  37  117.8   0.9728   7.7        2ND   1.0  2017

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2455 entries, 0 to 2454
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        2455 non-null   object
 1   G           2455 non-null   int64
 2   W           2455 non-null   int64
 3   ADJOE       2455 non-null   float64
 4   BARTHAG     2455 non-null   float64
 5   WAB         2455 non-null   float64
 6   POSTSEASON  476 non-null    object
 7   SEED        476 non-null    float64
 8   YEAR        2455 non-null   int64
dtypes: float64(4), int64(3), object(2)
memory usage: 172.7+ KB

In [6]:
data['POSTSEASON'].value_counts()

R64          224
R32          112
S16           56
E8            28
R68           28
F4            14
Champions      7
2ND            7
Name: POSTSEASON, dtype: int64

In [21]:
data = data.dropna(subset=['POSTSEASON'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476 entries, 0 to 2454
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        476 non-null    object
 1   G           476 non-null    int64
 2   W           476 non-null    int64
 3   ADJOE       476 non-null    float64
 4   BARTHAG     476 non-null    float64
 5   WAB         476 non-null    float64
 6   POSTSEASON  476 non-null    object
 7   SEED        476 non-null    float64
 8   YEAR        476 non-null    int64
dtypes: float64(4), int64(3), object(2)
memory usage: 37.2+ KB

In [61]:
data = pd.get_dummies(data, columns = ['TEAM','POSTSEASON'])
data

,G,W,ADJOE,BARTHAG,WAB,SEED,YEAR,TEAM_Abilene Christian,TEAM_Akron,TEAM_Alabama,...,TEAM_Xavier,TEAM_Yale,POSTSEASON_2ND,POSTSEASON_Champions,POSTSEASON_E8,POSTSEASON_F4,POSTSEASON_R32,POSTSEASON_R64,POSTSEASON_R68,POSTSEASON_S16
0,40,33,123.3,0.9531,8.6,1.0,2016,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,40,36,129.1,0.9758,11.3,1.0,2015,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,40,33,114.4,0.9375,6.9,3.0,2018,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,38,31,115.2,0.9696,7.0,3.0,2019,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,39,37,117.8,0.9728,7.7,1.0,2017,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450,35,26,111.4,0.9392,6.7,3.0,2013,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2451,35,27,114.4,0.9229,4.6,6.0,2013,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2452,37,28,104.8,0.8728,2.9,12.0,2013,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2453,34,24,112.0,0.8516,0.3,13.0,2013,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2454,35,24,103.4,0.6952,-4.0,15.0,2013,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [62]:
data['POSTSEASON_Champions'].value_counts()

0    469
1      7
Name: POSTSEASON_Champions, dtype: int64

In [63]:
data['POSTSEASON_R68'].value_counts()

0    448
1     28
Name: POSTSEASON_R68, dtype: int64

In [64]:
# Split the data into target and predictors
y = data_copy['POSTSEASON_Champions']
X = data_copy.drop(columns=['POSTSEASON_Champions'], axis=1)

In [65]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [66]:
# Instantiate the model
logreg = LogisticRegression(fit_intercept = False, C=1e12, solver='liblinear')

# Fit the model
logreg.fit(X_train,  y_train)

LogisticRegression(C=1000000000000.0, fit_intercept=False, solver='liblinear')

In [67]:
# Generate predictions
y_hat_train = logreg.predict(X_train)
y_hat_test = logreg.predict

In [68]:
residuals = np.abs(y_train - y_hat_train)
print(pd.Series(residuals).value_counts())
print('------------------------------------')
print(pd.Series(residuals).value_counts(normalize=True))
# 194 correct, ~ 85% accuracy

0    357
Name: POSTSEASON_Champions, dtype: int64
------------------------------------
0    1.0
Name: POSTSEASON_Champions, dtype: float64